.login_container{
    width: 400px;
    height:  30rem;
    background: rgba(34, 34, 34, .4);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    display: flex;
    flex-direction: column;

    h1{
        padding-bottom: 20px;
    }
    input{
        width: 100%;
        padding: .9rem;
        margin-bottom: 12px;
    }

    button{
        width: 100%;
        padding: 1rem 0;
        margin-top: 20px;
        border: 0;
    }

    .inner-container{
        position: relative;
        width: 100%;
        height: 100%;
    }

    div {
        position: absolute;
        bottom: 0;
    }
}

