/* *****************HOME****************** */
.home-container {
    width: 100%;
  }
  
  .home_window {
    width: 100%;
    height: 90vh;
    background: rgb(83, 83, 83);
    top: 0;
    z-index: -1;
  
    img {
      height: 110%;
      width: 100%;
    }
  
    .buttons {
      width: 500px;
      height: 300px;
      position: absolute;
      left: 0;
      top: 40%;
      transform: translate(0%, 0%);
      justify-content: center;
      align-items: center;
      display: inline-flex;
    }
  }