.wrapper{
    min-width: 100px;
    width: 100px;
    position: relative;
}

.button{
    width: calc(100% - 10px);
    border: solid 2px;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #eeeeee;
}

.content{
    background-color: #eeeeee;
    margin-top: 5px;
    width: 100%;
    z-index: 10;
    position: absolute;
    border: solid 2px;
    border-radius: 10px;
    max-height: 150px;
    // overflow-y: scroll;
    overflow-x: hidden;
}

.content > * {
    border-bottom: solid #dddddd 1px;
    padding: 5px 10px;
    cursor: pointer;
}

.content > *:hover{
    background-color: #d9d9d9;
}

.content :last-child{
    border-bottom: none;
}

.content::-webkit-scrollbar{
    display: none;
}